li{
    color: aquamarine;
    background-color: darkblue;
    border-color: gray;
    border-style: solid;
    border-width: 3px, 10px;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: -5;


}
.forecast{
 width: 10vh;
 height: 10vh;
 padding: 2em;
 background-color: brown;
 margin: 2em

 
 


 }
 .forecast-container{
     display: flex;
     flex-wrap: wrap;
     

 }
 


